*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

.textos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.texto{
  width: 842px;
  height: 126px;
}

